*{
    margin: 0;
    padding: 0;
}
ul,ol{
    list-style: none;
}
.nav{
    /*background-color: #ffdf3c;*/
    width: 100%;
    height: 60px;
    /*opacity: 30%;*/
    border-bottom: pink 2px solid;
    /* float: left; */
}
.left{
    width: 70%;
    height: 45px;
    float: left;
    /*border: red 1px solid;*/
    padding-top: 15px;


}
.left>div{
    width: 80px;
    height: 30px;
    /*border: black 1px solid;*/
    float: left;
    /*font: bold 2px 微软雅黑;*/
    color: #ffa1b7;
    padding-left: 20px;
    /*background-color: black;*/

}
.right{
    float: right;
    width: 50px;
    height: 50px;
    padding-top: 10px;
    /*border: red 1px solid;*/
}
.cricle{
    width: 40px;
    height: 40px;
    background-color: pink;
    border-radius: 20px;
    color: white;
    font-size: 15px;
    text-align: center;
    line-height:40px;
}
.big-box{
    position: absolute;
    z-index: 2;
    width: 85%;
    height: 500px;
    padding-top: 50px;
    padding-left: 15%;
    border-bottom: #4b65ff 2px solid;
    /*background-color: palevioletred;*/
}
.box{
    width: 900px;
    height: 480px;
    /*background-color: #ffdf3c;*/
    /*border: pink 2px solid;*/
}
.left-box{
    width: 110px;
    height: 100%;
    background-color: white;
    float: left;
    /*border: 1px red solid;*/

}
.left-box>ul>li{
    height: 100px;
    width: 80px;
    padding-top: 10px;
    /*border: 1px black solid;*/
}

.left-box>ul>li>p{
    text-align: center;
}

.input1{
    border: 1px #ff7d90 solid;
    border-radius: 3px;
    background-color: #ff7d90;
    cursor: pointer;
    color: #f8fdff;
}
.upload{
    opacity: 0.5;
    padding-left: 15px;
    padding-top: 10px;
}
.right-box{
    width: 780px;
    height: 100%;
    /*border: red 2px solid;*/
    float: left;
}
.right-left{
    width: 350px;
    height: 90%;
    /*border: 2px solid pink;*/
    position: relative;
    float: left;"
}
.color{
    background: url("images/猫爪.jpeg");
    width: 78px;
    height: 78px;
    border: none;
    /*border: 1px solid red;*/
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
}
.return{
    width: 80px;
    height: 80px;
    background: url("images/返回3.png");
    background-position: center;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    opacity: 0.8;
}
.right-right{
    width: 350px;
    height: 90%;
    /*border: 2px solid pink;*/
    position: relative;
    float: right;
}
.right-left>img,.right-right>img{
    width:350px;
    height:350px;
    border: 2px solid palevioletred;

}
.bottom{
    width: 95%;
    height: 70px;
    padding-top: 15px;
    /*background-color: pink;*/
    /*opacity: 50%;*/
    padding-right: 5%;
    padding-left: 15px;
    /*border-top: pink 2px solid;*/
}
.withdraw{
    width: 165px;
    padding-top: 10px;
    font-size: 12px;
    position: relative;
    float: left;
    /*color: black;*/
    opacity: 50%;
}
.withdraw_button{
    background: url("images/撤退.jpeg");
    width: 35px;
    height: 35px;
    border: none;
    cursor: pointer;
    background-position: center;
    background-repeat: no-repeat;
}
.download{
    float: right;
    width: 165px;
}
.download_button{
    position: relative;
    float: right;
    width: 50px;
    height: 50px;
    background: url("images/下载3.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}