<!DOCTYPE html>

<html>

<head>
    <meta charset="UFT-8">
    <title>老照片上色-首页</title>
    <link rel="stylesheet" href="../static/首页.css">
    <script language="JavaScript" src="../static/首页.js"></script>
</head>
<body>
<div class="nav">
    <div class="left">
        <div>恋旧</div>
        <div>Nostalgia</div>
    </div>
    <div class="register-load"> 
        <a href = "login" ><button>登录</button></a>
    </div>
</div>
<div class="body">

    <div class="left_box">
        <img src="../static/images/云01.jpg" class="background1">
        <div class="box1" >
            <div class="slider1" id="slider1">
                <div class="slide"><img src="../static/images/1.jpg" alt=""></div>
                <div class="slide"><img src="../static/images/2.jpg" alt=""></div>
                <div class="slide"><img src="../static/images/3.jpg" alt=""></div>
                <div class="slide"><img src="../static/images/4.jpg" alt=""></div>
                <div class="slide"><img src="../static/images/5.jpg" alt=""></div>
                <div class="slide"><img src="../static/images/6.jpg" alt=""></div>
            </div>
        </div>

    </div>
    <div class="right_box">
        <img src="../static/images/云01.jpg" class="background2">
        <div class="box2" >
            <div class="slider2" id="slider2">
                <div class="slide"><img src="../static/images/4.jpg" alt=""></div>
                <div class="slide"><img src="../static/images/5.jpg" alt=""></div>
                <div class="slide"><img src="../static/images/6.jpg" alt=""></div>
                <div class="slide"><img src="../static/images/4.jpg" alt=""></div>
                <div class="slide"><img src="../static/images/5.jpg" alt=""></div>
                <div class="slide"><img src="../static/images/6.jpg" alt=""></div>
            </div>
        </div>
    </div>


</div>
<canvas id="canvas" width="1950px" height="930px"></canvas>

</body>
</html>